@font-face {
    font-family: 'Middleearth';
    src        :
        local('Middleearth-ao6m Web'),
        local('Middleearth-ao6m'),
        url('fonts/Middleearth-ao6m.ttf');

    font-family: 'RINGM';
    src        :
        local('RINGM Web'),
        local('RINGM'),
        url('fonts/RINGM.ttf');
}

.navbar {
    padding   : 0px;
    transition: .4s;
}

.navbar-color {
    background-color: rgb(255, 255, 255);
    border-bottom   : 3px solid rgb(131, 148, 86);
    box-shadow      : 0px 2px 20px 0px black;
}

.navbar-transp {
    background-color: rgba(255, 255, 255, 0);
}

.navbar-color .nav-item>.nav-link {
    color: rgb(0, 0, 0);
}

.navbar-transp .nav-item>.nav-link {
    color: rgb(255, 255, 255);
}

.navbar-transp .nav-item>.nav-link:hover,
.navbar-transp .nav-item>.nav-link:focus {
    color: rgb(255, 228, 187);
}

.navbar-transp .btn-group>.btn-menu>.nav-text {
    color: rgb(255, 255, 255);
}

.navbar-transp .btn-log {
    color: rgb(255, 255, 255);
}

.btn-check:focus+.btn,
.btn:focus {
    box-shadow: none;
}

.navbar-brand {
    background-color: rgba(235, 180, 97, 0);
    transition      : .4s;
}

.btn-menu {
    background-color: rgba(255, 255, 255, 0.041);
}

.navbar-brand-scrolled {
    padding-top     : 0.3125rem;
    padding-bottom  : 0.3125rem;
    margin-right    : 1rem;
    background-color: rgb(235, 180, 97);
    transition      : .4s;
}

.nav-link {
    /* font-family: 'Middleearth';*/
    color      : rgb(110, 110, 110);
    font-weight: 500;
    font-size  : 20px;
}

.scrolling-active {
    background-color: #fff;
    box-shadow      : 0 3px 1rem rgba(0, 0, 0, 0.1);
}

.btn-group>.btn-menu>img {
    width: 40px;
   height: 40px;
}

.btn>img {
    width: 20px;
}

.btn {
    background-color: rgba(0, 0, 0, 0.041);
    border-color    : transparent;
    color           : rgb(0, 0, 0);
}

.modal-backdrop {
    z-index: 5;
}

.nav-link:hover {
    transition: 0.1s;
}

.seccion:before {
    content: "";
    display: block;
    height : 90px;
    /* fixed header height*/
    margin : -90px 0 0;
    /* negative fixed header height */
}

.titulo h1 {
    font-family: 'RINGM';
    font-size  : 280%;
    font-weight: 500;
    text-align : left;
    color      : rgb(255, 255, 255);
    text-shadow: 0 0 5px #000 !important;
}

.seccion h4 {
    font-family: 'Middleearth';
    font-size  : 275%;
    font-weight: 900;
    color      : rgb(0, 0, 0);
}

#carouselExampleCaptions p {
    border-radius: 50px !important;
    background   : #0a2b484d !important;
    text-shadow  : 0 0 5px #000 !important;
    padding      : 0 10px;
}

#carouselExampleCaptions .carousel-item img {
    object-fit     : cover;
    object-position: center;
    height         : 100vh;
    overflow       : hidden;
}

#carouselExampleCaptions .carousel-item:before {
    content         : "";
    background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.5));
    display         : block;
    position        : absolute;
    top             : 0;
    width           : 100vw;
    height          : 100vh;
}

.card-img-overlay,
.card-img-top {
    transition: all 0.2s ease;
    cursor    : pointer;
}

.cardInter:hover .card-img-top {
    transform: scale(1.035);
}

.cardInter:hover .card-img-overlay {
    transform: scale(1.25) translate(32px, -25px);
}

.card-big {
    object-fit: cover;
    height    : 238.48px;
}

.card-big-txt,
.card-big {
    transition: all 0.2s ease;
    cursor    : pointer;
}

.cardInter:hover .card-big {
    transform: scale(1.035);
}

.cardInter:hover .card-big-txt {
    transform: scale(1.30) translate(137px, -30px);
}

.cardInter {
    overflow  : hidden;
    object-fit: cover;

}

.card {
    border: none;
}

.wrapper {
    position: relative;
    overflow: hidden;
}

.imgPerfil {
    width: 50px;
}

/* Footer */

a:hover {
    color: darkgoldenrod;
}

.list-group-item {
    border: none;
}

.footerDeFooter {
    background-color: #443131;
}

.logoJdN {
    width: 150px;
}